*{
    text-decoration:none;
}
.navbar{
    position: absolute;
    left: 0;
    top: 0;
    right: 0; 
    background: crimson; font-family: calibri; padding-right: 15px; padding-left: 15px;
}
.navdiv{
    display:flex; align-items: center; justify-content:flex-end;
}
.logo a{
    font-size: 35px; font-weight: 600; color: white;text-shadow: 2px 2px 4px #000000;
}
li{
    list-style-type: style type white; display:inline-block}
li a{
    color: white; font-size: 18px; font-weight: bold; margin-right: 15px;
}
button{
    background-color: black; margin-left: 10px; border-radius: 10px; padding: 5px; width: 150px;
}
button a{
    color: white; font-weight: bold; font-size: 15px;
}
button a hover{
    color: blue; 
}

section p{
    color: aqua;
}